h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.text {
    text-align: center;
}

.table-responsive {
    width: 60%;
    margin: auto;
    padding-right: 0;
}

.table {
    margin-bottom: 1rem;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.table td {
    vertical-align: middle;
}

/* .img-fluid {
    width: 50px;
    height: auto;
} */


.text{
    display: block;
}

.subtotal {
    margin-top: 1rem;
}

.subtotal-text {
    font-weight: bold;
}

.subtotal-button {
    text-align: right; /* Aligns the button to the right */
    margin-top: 0.5rem; /* Adds some space between the subtotal and the button */
}

.btnorder {
    display: inline-block; /* Allows the button to align to the right */
}



/* btn
.

.btn-primary {
    background-color: none;
} */